<launch>

    <!-- <arg name="model"  default="$(find gpu_voxel_planning)/urdf/victor_right_arm_only.urdf.xacro"/> -->
    <arg name="model"  default="$(find gpu_voxel_planning)/urdf/victor.urdf.xacro"/>

    <include file="$(find gpu_voxel_planning)/launch/gvp_extras.launch">
      <arg name="model" value="$(arg model)"/>
    </include>


    <include file="$(find victor_fake_hardware_interface)/launch/fake_dual_arm_lcm_bridge.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="talkative" value="False"/>
      <arg name="initial_control_mode" value="2"/>
    </include>

    <include file="$(find arm_robots)/launch/rviz_victor.launch">
      <arg name="update_description" value="false"/>
    </include>

</launch>
