<launch>

    <!-- <arg name="model"  default="$(find gpu_voxel_planning)/urdf/victor_right_arm_only.urdf.xacro"/> -->
    <!--    <arg name="model"  default="$(find gpu_voxel_planning)/urdf/victor.urdf.xacro"/>-->

    <!--    <include file="$(find gpu_voxel_planning)/launch/gvp_extras.launch">-->
    <!--      <arg name="model" value="$(arg model)"/>-->
    <!--    </include>-->

    <!--    <group ns="static_transform_publishers">-->
    <!--        <node pkg="tf2_ros" type="static_transform_publisher" name="rename_origin" required="true"-->
    <!--              args="0 0 0 0 0 0 robot_root world">-->
    <!--        </node>-->
    <!--    </group>-->

    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="active_robot_root_broadcaster" required="true"
              args="-1.0 -2.0 0 0 0 0 world gpu_voxel_world">
        </node>
    </group>

    <include file="$(find arm_robots)/launch/victor.launch">
        <arg name="gui" value="false"/>
        <arg name="gazebo_world" value="empty_world"/>
    </include>


    <!-- <group> -->
    <!--   <machine name="realtime" -->
    <!--            address="realtime.local" -->
    <!--            user="armlab" -->
    <!--            /> -->
    <!--   <include file="$(find victor_hardware_interface)/launch/dual_arm_lcm_bridge.launch"> -->
    <!--     <arg name="model" value="$(arg model)"/> -->
    <!--     <arg name="talkative" value="True"/> -->
    <!--   </include> -->
    <!-- </group> -->


</launch>
